@import "tailwindcss";

@theme {
  --color-f1-red: #e10600;
  --color-f1-dark: #15151e;
  --color-f1-gray: #38383f;
}

body {
  background-color: var(--color-f1-dark);
  color: #eeeeee;
  font-family: 'Inter', sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}